/* opa_css/opa_mario.css */

:root {
  --div-hover-color: #17171c;
  --text-color: #00FF00;
}

div {
  background: transparent !important;
}

body {
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.dialog_panel, .list, .menu, .msg {
  color: var(--text-color) !important;
}

.dialog_panel:hover {
  background-color: var(--div-hover-color) !important;
}

.list:hover {
  background-color: var(--div-hover-color) !important;
}

.menu:hover {
  background-color: var(--div-hover-color) !important;
}

.msg, .msg::after, .msg::before {
  background-color: var(--div-hover-color) !important;
}
