/* mario_css/colors.css */

:root{
  --mario-orange: #f88700;
  --mario-dark-orange: #b72700;
  --mario-green: #00f800;
  --mario-dark-green: #005b00;
}

.mario-orange {
  background: var(--mario-orange) !important;
  color: white;
}

.mario-dark-orange {
  background: var(--mario-dark-orange) !important;
  color: white;
}

.mario-green {
  background: var(--mario-green) !important;
  color: white;
}

.mario-dark-green {
  background: var(--mario-dark-green) !important;
  color: white;
}

.mario-dark-orange-click:active {
  background-color: var(--mario-dark-orange) !important;
}
